# Structure des méthodes pour l'app

Création du dataframe avec les matchs (1 saison) avec les shots + position (juste ce dont j'ai besoin).

Garder que les lignes et colonnes dont j'ai besoin (filtre sur le gros MEvents).

In [16]:
import pandas as pd
from ncaam.src.dao.loader import Loader

In [17]:
loader = Loader()
data = loader.import_data(["MEvents", "MConferenceTourneyGames", "MGameCities", "MNCAATourneyCompactResults",
                           "MNCAATourneyDetailedResults", "MRegularSeasonCompactResults", 
                           "MRegularSeasonDetailedResults", "MSecondaryTourneyCompactResults"])

In [4]:
MEvents = data["MEvents"]
MEvents.head()

,EventID,Season,DayNum,WTeamID,LTeamID,WFinalScore,LFinalScore,WCurrentScore,LCurrentScore,ElapsedSeconds,EventTeamID,EventPlayerID,EventType,EventSubType,X,Y,Area
0,1,2015,11,1103,1420,74,57,0,0,19,1103,112,miss3,unk,0,0,0
1,2,2015,11,1103,1420,74,57,0,0,19,1420,13747,reb,def,0,0,0
2,3,2015,11,1103,1420,74,57,0,2,27,1420,13753,made2,dunk,0,0,0
3,4,2015,11,1103,1420,74,57,0,2,27,1420,13770,assist,NaN,0,0,0
4,5,2015,11,1103,1420,74,57,2,2,59,1103,98,made2,jump,0,0,0

In [5]:
# Variables utiles
MEvents = MEvents[['Season', 'DayNum', 'WTeamID', 'LTeamID', 'EventPlayerID', 'EventType', 'X', 'Y']]

# Shots à 2 et 3 points râtés et réussis
MEvents = MEvents[MEvents['EventType'].str.contains('miss') | MEvents['EventType'].str.contains('made')]

# Sur une seule saison 
MEvents = MEvents.loc[MEvents['Season'] == 2015]

In [6]:
MEvents.head()

   Season  DayNum  WTeamID  LTeamID  EventPlayerID EventType  X  Y
0    2015      11     1103     1420            112     miss3  0  0
2    2015      11     1103     1420          13753     made2  0  0
4    2015      11     1103     1420             98     made2  0  0
8    2015      11     1103     1420            104     made2  0  0
9    2015      11     1103     1420          13753     made2  0  0

### Méthodes à affecter à l'app

In [6]:
#def plot_court() -> None:
#    pass

def plot_court(ax=None, three_line='mens', court_color='#dfbb85',lw=3, lines_color='black', lines_alpha=0.5, 
               paint_fill='blue', paint_alpha=0.4, inner_arc=False) -> None:

    if ax is None:
        ax = plt.gca()

    center_circle = Circle((94/2, 50/2), 6, linewidth=lw, color=lines_color, lw=lw, fill=False, 
                           alpha=lines_alpha)
    hoop_left = Circle((5.25, 50/2), 1.5 / 2, linewidth=lw, color=lines_color, lw=lw, fill=False, 
                       alpha=lines_alpha)
    hoop_right = Circle((94-5.25, 50/2), 1.5 / 2, linewidth=lw, color=lines_color, lw=lw, fill=False, 
                        alpha=lines_alpha)

    left_paint = Rectangle((0, (50/2)-6), 18.833333, 12, fill=paint_fill, alpha=paint_alpha, lw=lw, 
                           edgecolor=None)
    right_paint = Rectangle((94-18.83333, (50/2)-6), 18.833333, 12, fill=paint_fill, alpha=paint_alpha, lw=lw,
                            edgecolor=None)
    
    left_paint_boarder = Rectangle((0, (50/2)-6), 18.833333, 12, fill=False, alpha=lines_alpha, lw=lw, 
                                   edgecolor=lines_color)
    right_paint_boarder = Rectangle((94-18.83333, (50/2)-6), 18.833333, 12, fill=False, alpha=lines_alpha,
                            lw=lw, edgecolor=lines_color)

    left_arc = Arc((18.833333, 50/2), 12, 12, theta1=-90, theta2=90, color=lines_color, lw=lw,
                   alpha=lines_alpha)
    right_arc = Arc((94-18.833333, 50/2), 12, 12, theta1=90, theta2=-90, color=lines_color, lw=lw,
                    alpha=lines_alpha)
    
    leftblock1 = Rectangle((7, (50/2)-6-0.666), 1, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                           edgecolor=lines_color, facecolor=lines_color)
    leftblock2 = Rectangle((7, (50/2)+6), 1, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                           edgecolor=lines_color, facecolor=lines_color)
    ax.add_patch(leftblock1)
    ax.add_patch(leftblock2)
    
    left_l1 = Rectangle((11, (50/2)-6-0.666), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                        edgecolor=lines_color, facecolor=lines_color)
    left_l2 = Rectangle((14, (50/2)-6-0.666), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                        edgecolor=lines_color, facecolor=lines_color)
    left_l3 = Rectangle((17, (50/2)-6-0.666), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                        edgecolor=lines_color, facecolor=lines_color)
    ax.add_patch(left_l1)
    ax.add_patch(left_l2)
    ax.add_patch(left_l3)
    left_l4 = Rectangle((11, (50/2)+6), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                        edgecolor=lines_color, facecolor=lines_color)
    left_l5 = Rectangle((14, (50/2)+6), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                        edgecolor=lines_color, facecolor=lines_color)
    left_l6 = Rectangle((17, (50/2)+6), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                        edgecolor=lines_color, facecolor=lines_color)
    ax.add_patch(left_l4)
    ax.add_patch(left_l5)
    ax.add_patch(left_l6)
    
    rightblock1 = Rectangle((94-7-1, (50/2)-6-0.666), 1, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                            edgecolor=lines_color, facecolor=lines_color)
    rightblock2 = Rectangle((94-7-1, (50/2)+6), 1, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                            edgecolor=lines_color, facecolor=lines_color)
    ax.add_patch(rightblock1)
    ax.add_patch(rightblock2)

    right_l1 = Rectangle((94-11, (50/2)-6-0.666), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                         edgecolor=lines_color, facecolor=lines_color)
    right_l2 = Rectangle((94-14, (50/2)-6-0.666), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                         edgecolor=lines_color, facecolor=lines_color)
    right_l3 = Rectangle((94-17, (50/2)-6-0.666), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                         edgecolor=lines_color, facecolor=lines_color)
    ax.add_patch(right_l1)
    ax.add_patch(right_l2)
    ax.add_patch(right_l3)
    right_l4 = Rectangle((94-11, (50/2)+6), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                         edgecolor=lines_color, facecolor=lines_color)
    right_l5 = Rectangle((94-14, (50/2)+6), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                         edgecolor=lines_color, facecolor=lines_color)
    right_l6 = Rectangle((94-17, (50/2)+6), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                         edgecolor=lines_color, facecolor=lines_color)
    ax.add_patch(right_l4)
    ax.add_patch(right_l5)
    ax.add_patch(right_l6)
    
    if (three_line == 'mens') | (three_line == 'both'):

        three_pt_left = Arc((6.25, 50/2), 44.291, 44.291, theta1=-78, theta2=78, color=lines_color, lw=lw,
                            alpha=lines_alpha)
        three_pt_right = Arc((94-6.25, 50/2), 44.291, 44.291, theta1=180-78, theta2=180+78,
                             color=lines_color, lw=lw, alpha=lines_alpha)

        ax.plot((0, 11.25), (3.34, 3.34), color=lines_color, lw=lw, alpha=lines_alpha)
        ax.plot((0, 11.25), (50-3.34, 50-3.34), color=lines_color, lw=lw, alpha=lines_alpha)
        ax.plot((94-11.25, 94), (3.34, 3.34), color=lines_color, lw=lw, alpha=lines_alpha)
        ax.plot((94-11.25, 94), (50-3.34, 50-3.34), color=lines_color, lw=lw, alpha=lines_alpha)
        ax.add_patch(three_pt_left)
        ax.add_patch(three_pt_right)

    if (three_line == 'womens') | (three_line == 'both'):
        three_pt_left_w = Arc((6.25, 50/2), 20.75 * 2, 20.75 * 2, theta1=-85,
                              theta2=85, color=lines_color, lw=lw, alpha=lines_alpha)
        three_pt_right_w = Arc((94-6.25, 50/2), 20.75 * 2, 20.75 * 2,
                               theta1=180-85, theta2=180+85,
                               color=lines_color, lw=lw, alpha=lines_alpha)

        ax.plot((0, 8.3), (4.25, 4.25), color=lines_color, lw=lw, alpha=lines_alpha)
        ax.plot((0, 8.3), (50-4.25, 50-4.25), color=lines_color, lw=lw, alpha=lines_alpha)
        ax.plot((94-8.3, 94), (4.25, 4.25), color=lines_color, lw=lw, alpha=lines_alpha)
        ax.plot((94-8.3, 94), (50-4.25, 50-4.25), color=lines_color, lw=lw, alpha=lines_alpha)

        ax.add_patch(three_pt_left_w)
        ax.add_patch(three_pt_right_w)

    ax.add_patch(left_paint)
    ax.add_patch(left_paint_boarder)
    ax.add_patch(right_paint)
    ax.add_patch(right_paint_boarder)
    ax.add_patch(center_circle)
    ax.add_patch(hoop_left)
    ax.add_patch(hoop_right)
    ax.add_patch(left_arc)
    ax.add_patch(right_arc)
    
    if inner_arc:
        left_inner_arc = Arc((18.833333, 50/2), 12, 12, theta1=90, theta2=-90, color=lines_color, lw=lw, 
                             alpha=lines_alpha, ls='--')
        right_inner_arc = Arc((94-18.833333, 50/2), 12, 12, theta1=-90, theta2=90, color=lines_color, lw=lw,
                              alpha=lines_alpha, ls='--')
        ax.add_patch(left_inner_arc)
        ax.add_patch(right_inner_arc)

    restricted_left = Arc((6.25, 50/2), 8, 8, theta1=-90, theta2=90, color=lines_color, lw=lw, 
                          alpha=lines_alpha)
    restricted_right = Arc((94-6.25, 50/2), 8, 8, theta1=180-90, theta2=180+90, color=lines_color, lw=lw, 
                           alpha=lines_alpha)
    ax.add_patch(restricted_left)
    ax.add_patch(restricted_right)
    
    ax.plot((4, 4), ((50/2) - 3, (50/2) + 3), color=lines_color, lw=lw*1.5, alpha=lines_alpha)
    ax.plot((94-4, 94-4), ((50/2) - 3, (50/2) + 3), color=lines_color, lw=lw*1.5, alpha=lines_alpha)
    ax.plot((4, 4.6), (50/2, 50/2), color=lines_color, lw=lw, alpha=lines_alpha)
    ax.plot((94-4, 94-4.6), (50/2, 50/2), color=lines_color, lw=lw, alpha=lines_alpha)

    ax.axvline(94/2, color=lines_color, lw=lw, alpha=lines_alpha)

    boarder = Rectangle((0.3,0.3), 94-0.4, 50-0.4, fill=False, lw=3, color='black', alpha=lines_alpha)
    ax.add_patch(boarder)
    
    ax.set_xlim(0, 94)
    ax.set_ylim(0, 50)
    ax.set_facecolor(court_color)
    ax.set_xticks([])
    ax.set_yticks([])
    ax.set_xlabel('')
    return ax


#fig, ax = plt.subplots(figsize=(15, 8.5))
#create_ncaa_full_court(ax, three_line='both', paint_alpha=0.4)
#plt.show()

In [7]:
# DataFrame : MEvents 
# match_name en str : 
def get_match(df_match: pd.DataFrame, match_name: str) -> pd.DataFrame:
    pass

In [8]:
def plot_player_shot(df_match: pd.DataFrame, player_name: str) -> None:
    pass

In [9]:
def create_match_id(team1: str, team2: str, date_match: int) -> str:
    pass

In [10]:
def create_match_id_col(df_match: pd.DataFrame) -> pd.DataFrame:
    pass

In [11]:
def plot_match_player_shot(df_match: pd.DataFrame, match_id: str, player_name: str) -> None:
    pass

### Création de la variable MatchID

Tables contenant le quadruplet : ["Season", "DayNum", "WTeamID", "LTeamID"]
    - MEvents
    - MConferenceTourneyGames
    - MGameCities
    - MNCAATourneyCompactResults
    - MNCAATourneyDetailedResults
    - MRegularSeasonCompactResults
    - MRegularSeasonDetailedResults
    - MSecondaryTourneyCompactResults

In [200]:
MEvents = data["MEvents"]
# Col = EventID,Season,DayNum,WTeamID,LTeamID,WFinalScore,LFinalScore,WCurrentScore,LCurrentScore,ElapsedSeconds,EventTeamID,EventPlayerID,EventType,EventSubType,X,Y,Area

MConferenceTourneyGames = data["MConferenceTourneyGames"]
# Col = Season,ConfAbbrev,DayNum,WTeamID,LTeamID

MGameCities = data["MGameCities"]
# Col = Season,DayNum,WTeamID,LTeamID,CRType,CityID

MNCAATourneyCompactResults = data["MNCAATourneyCompactResults"]
# Col = Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT

MRegularSeasonCompactResults = data["MRegularSeasonCompactResults"]
# Col = Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT

MNCAATourneyDetailedResults = data["MNCAATourneyDetailedResults"]
# Col = Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,WFGM3,WFGA3,WFTM,WFTA,WOR,WDR,WAst,WTO,WStl,WBlk,WPF,LFGM,LFGA,LFGM3,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF

MRegularSeasonDetailedResults = data["MRegularSeasonDetailedResults"]
# Col = Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,WFGM3,WFGA3,WFTM,WFTA,WOR,WDR,WAst,WTO,WStl,WBlk,WPF,LFGM,LFGA,LFGM3,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF

MSecondaryTourneyCompactResults = data["MSecondaryTourneyCompactResults"]
# Col = Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,SecondaryTourney


#df = MEvents.groupby(["Season", "DayNum", "WTeamID", "LTeamID"])

In [220]:
# On garde les 4 colonnes qui permettent de créer un MatchID unique et la saison 2015 pour réduire le df

df_2015 = MEvents[['Season', 'DayNum', 'WTeamID', 'LTeamID', 'EventPlayerID', 'EventType', 'X', 'Y']]
#df_2015 = df_2015[df_2015['EventType'].str.contains('miss') | df_2015['EventType'].str.contains('made')]
df_2015 = df_2015[['Season', 'DayNum', 'WTeamID', 'LTeamID']]
df_2015 = df_2015.loc[df_2015['Season'] == 2015]
df_2015

         Season  DayNum  WTeamID  LTeamID
0          2015      11     1103     1420
1          2015      11     1103     1420
2          2015      11     1103     1420
3          2015      11     1103     1420
4          2015      11     1103     1420
...         ...     ...      ...      ...
2561214    2015     154     1181     1458
2561215    2015     154     1181     1458
2561216    2015     154     1181     1458
2561217    2015     154     1181     1458
2561218    2015     154     1181     1458

[2561219 rows x 4 columns]

In [229]:
# DataFrame avec MatchId unique --> 5497 matchs en 2015

df_id_unique = df_2015.groupby(['Season','DayNum', 'WTeamID', 'LTeamID']).size().reset_index().rename(columns={0:'count'})
df_id_unique['MatchID'] = df_id_unique.index
df_id_unique = df_id_unique.drop(['count'], axis=1)
df_id_unique

      Season  DayNum  WTeamID  LTeamID  MatchID
0       2015      11     1103     1420        0
1       2015      11     1104     1406        1
2       2015      11     1112     1291        2
3       2015      11     1113     1152        3
4       2015      11     1119     1102        4
...      ...     ...      ...      ...      ...
5492    2015     150     1191     1319     5492
5493    2015     150     1390     1274     5493
5494    2015     152     1181     1277     5494
5495    2015     152     1458     1246     5495
5496    2015     154     1181     1458     5496

[5497 rows x 5 columns]

In [230]:
# On applique le MatchID sur l'ensemble du dataframe

df_2015_id = pd.merge(df_2015, df_id_unique,  how='left', left_on=['Season','DayNum', 'WTeamID', 'LTeamID'], 
                      right_on = ['Season','DayNum', 'WTeamID', 'LTeamID'])
df_2015_id

         Season  DayNum  WTeamID  LTeamID  MatchID
0          2015      11     1103     1420        0
1          2015      11     1103     1420        0
2          2015      11     1103     1420        0
3          2015      11     1103     1420        0
4          2015      11     1103     1420        0
...         ...     ...      ...      ...      ...
2561214    2015     154     1181     1458     5496
2561215    2015     154     1181     1458     5496
2561216    2015     154     1181     1458     5496
2561217    2015     154     1181     1458     5496
2561218    2015     154     1181     1458     5496

[2561219 rows x 5 columns]