# Structure des méthodes pour l'app

Création du dataframe avec les matchs (1 saison) avec les shots + position (juste ce dont j'ai besoin).

Garder que les lignes et colonnes dont j'ai besoin (filtre sur le gros MEvents).

In [1]:
import pandas as pd
from ncaam.src.dao.loader import Loader

In [2]:
loader = Loader()
data = loader.import_data(["MEvents", "MConferenceTourneyGames", "MGameCities", "MNCAATourneyCompactResults",
                           "MNCAATourneyDetailedResults", "MRegularSeasonCompactResults", 
                           "MRegularSeasonDetailedResults", "MSecondaryTourneyCompactResults", "MPlayers"])

## Méthodes à affecter à l'app

In [3]:
#def plot_court() -> None:
#    pass

def plot_court(ax=None, three_line='mens', court_color='#dfbb85',lw=3, lines_color='black', lines_alpha=0.5, 
               paint_fill='blue', paint_alpha=0.4, inner_arc=False) -> None:

    if ax is None:
        ax = plt.gca()

    center_circle = Circle((94/2, 50/2), 6, linewidth=lw, color=lines_color, lw=lw, fill=False, 
                           alpha=lines_alpha)
    hoop_left = Circle((5.25, 50/2), 1.5 / 2, linewidth=lw, color=lines_color, lw=lw, fill=False, 
                       alpha=lines_alpha)
    hoop_right = Circle((94-5.25, 50/2), 1.5 / 2, linewidth=lw, color=lines_color, lw=lw, fill=False, 
                        alpha=lines_alpha)

    left_paint = Rectangle((0, (50/2)-6), 18.833333, 12, fill=paint_fill, alpha=paint_alpha, lw=lw, 
                           edgecolor=None)
    right_paint = Rectangle((94-18.83333, (50/2)-6), 18.833333, 12, fill=paint_fill, alpha=paint_alpha, lw=lw,
                            edgecolor=None)
    
    left_paint_boarder = Rectangle((0, (50/2)-6), 18.833333, 12, fill=False, alpha=lines_alpha, lw=lw, 
                                   edgecolor=lines_color)
    right_paint_boarder = Rectangle((94-18.83333, (50/2)-6), 18.833333, 12, fill=False, alpha=lines_alpha,
                            lw=lw, edgecolor=lines_color)

    left_arc = Arc((18.833333, 50/2), 12, 12, theta1=-90, theta2=90, color=lines_color, lw=lw,
                   alpha=lines_alpha)
    right_arc = Arc((94-18.833333, 50/2), 12, 12, theta1=90, theta2=-90, color=lines_color, lw=lw,
                    alpha=lines_alpha)
    
    leftblock1 = Rectangle((7, (50/2)-6-0.666), 1, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                           edgecolor=lines_color, facecolor=lines_color)
    leftblock2 = Rectangle((7, (50/2)+6), 1, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                           edgecolor=lines_color, facecolor=lines_color)
    ax.add_patch(leftblock1)
    ax.add_patch(leftblock2)
    
    left_l1 = Rectangle((11, (50/2)-6-0.666), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                        edgecolor=lines_color, facecolor=lines_color)
    left_l2 = Rectangle((14, (50/2)-6-0.666), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                        edgecolor=lines_color, facecolor=lines_color)
    left_l3 = Rectangle((17, (50/2)-6-0.666), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                        edgecolor=lines_color, facecolor=lines_color)
    ax.add_patch(left_l1)
    ax.add_patch(left_l2)
    ax.add_patch(left_l3)
    left_l4 = Rectangle((11, (50/2)+6), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                        edgecolor=lines_color, facecolor=lines_color)
    left_l5 = Rectangle((14, (50/2)+6), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                        edgecolor=lines_color, facecolor=lines_color)
    left_l6 = Rectangle((17, (50/2)+6), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                        edgecolor=lines_color, facecolor=lines_color)
    ax.add_patch(left_l4)
    ax.add_patch(left_l5)
    ax.add_patch(left_l6)
    
    rightblock1 = Rectangle((94-7-1, (50/2)-6-0.666), 1, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                            edgecolor=lines_color, facecolor=lines_color)
    rightblock2 = Rectangle((94-7-1, (50/2)+6), 1, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                            edgecolor=lines_color, facecolor=lines_color)
    ax.add_patch(rightblock1)
    ax.add_patch(rightblock2)

    right_l1 = Rectangle((94-11, (50/2)-6-0.666), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                         edgecolor=lines_color, facecolor=lines_color)
    right_l2 = Rectangle((94-14, (50/2)-6-0.666), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                         edgecolor=lines_color, facecolor=lines_color)
    right_l3 = Rectangle((94-17, (50/2)-6-0.666), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                         edgecolor=lines_color, facecolor=lines_color)
    ax.add_patch(right_l1)
    ax.add_patch(right_l2)
    ax.add_patch(right_l3)
    right_l4 = Rectangle((94-11, (50/2)+6), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                         edgecolor=lines_color, facecolor=lines_color)
    right_l5 = Rectangle((94-14, (50/2)+6), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                         edgecolor=lines_color, facecolor=lines_color)
    right_l6 = Rectangle((94-17, (50/2)+6), 0.166, 0.666, fill=True, alpha=lines_alpha, lw=0, 
                         edgecolor=lines_color, facecolor=lines_color)
    ax.add_patch(right_l4)
    ax.add_patch(right_l5)
    ax.add_patch(right_l6)
    
    if (three_line == 'mens') | (three_line == 'both'):

        three_pt_left = Arc((6.25, 50/2), 44.291, 44.291, theta1=-78, theta2=78, color=lines_color, lw=lw,
                            alpha=lines_alpha)
        three_pt_right = Arc((94-6.25, 50/2), 44.291, 44.291, theta1=180-78, theta2=180+78,
                             color=lines_color, lw=lw, alpha=lines_alpha)

        ax.plot((0, 11.25), (3.34, 3.34), color=lines_color, lw=lw, alpha=lines_alpha)
        ax.plot((0, 11.25), (50-3.34, 50-3.34), color=lines_color, lw=lw, alpha=lines_alpha)
        ax.plot((94-11.25, 94), (3.34, 3.34), color=lines_color, lw=lw, alpha=lines_alpha)
        ax.plot((94-11.25, 94), (50-3.34, 50-3.34), color=lines_color, lw=lw, alpha=lines_alpha)
        ax.add_patch(three_pt_left)
        ax.add_patch(three_pt_right)

    if (three_line == 'womens') | (three_line == 'both'):
        three_pt_left_w = Arc((6.25, 50/2), 20.75 * 2, 20.75 * 2, theta1=-85,
                              theta2=85, color=lines_color, lw=lw, alpha=lines_alpha)
        three_pt_right_w = Arc((94-6.25, 50/2), 20.75 * 2, 20.75 * 2,
                               theta1=180-85, theta2=180+85,
                               color=lines_color, lw=lw, alpha=lines_alpha)

        ax.plot((0, 8.3), (4.25, 4.25), color=lines_color, lw=lw, alpha=lines_alpha)
        ax.plot((0, 8.3), (50-4.25, 50-4.25), color=lines_color, lw=lw, alpha=lines_alpha)
        ax.plot((94-8.3, 94), (4.25, 4.25), color=lines_color, lw=lw, alpha=lines_alpha)
        ax.plot((94-8.3, 94), (50-4.25, 50-4.25), color=lines_color, lw=lw, alpha=lines_alpha)

        ax.add_patch(three_pt_left_w)
        ax.add_patch(three_pt_right_w)

    ax.add_patch(left_paint)
    ax.add_patch(left_paint_boarder)
    ax.add_patch(right_paint)
    ax.add_patch(right_paint_boarder)
    ax.add_patch(center_circle)
    ax.add_patch(hoop_left)
    ax.add_patch(hoop_right)
    ax.add_patch(left_arc)
    ax.add_patch(right_arc)
    
    if inner_arc:
        left_inner_arc = Arc((18.833333, 50/2), 12, 12, theta1=90, theta2=-90, color=lines_color, lw=lw, 
                             alpha=lines_alpha, ls='--')
        right_inner_arc = Arc((94-18.833333, 50/2), 12, 12, theta1=-90, theta2=90, color=lines_color, lw=lw,
                              alpha=lines_alpha, ls='--')
        ax.add_patch(left_inner_arc)
        ax.add_patch(right_inner_arc)

    restricted_left = Arc((6.25, 50/2), 8, 8, theta1=-90, theta2=90, color=lines_color, lw=lw, 
                          alpha=lines_alpha)
    restricted_right = Arc((94-6.25, 50/2), 8, 8, theta1=180-90, theta2=180+90, color=lines_color, lw=lw, 
                           alpha=lines_alpha)
    ax.add_patch(restricted_left)
    ax.add_patch(restricted_right)
    
    ax.plot((4, 4), ((50/2) - 3, (50/2) + 3), color=lines_color, lw=lw*1.5, alpha=lines_alpha)
    ax.plot((94-4, 94-4), ((50/2) - 3, (50/2) + 3), color=lines_color, lw=lw*1.5, alpha=lines_alpha)
    ax.plot((4, 4.6), (50/2, 50/2), color=lines_color, lw=lw, alpha=lines_alpha)
    ax.plot((94-4, 94-4.6), (50/2, 50/2), color=lines_color, lw=lw, alpha=lines_alpha)

    ax.axvline(94/2, color=lines_color, lw=lw, alpha=lines_alpha)

    boarder = Rectangle((0.3,0.3), 94-0.4, 50-0.4, fill=False, lw=3, color='black', alpha=lines_alpha)
    ax.add_patch(boarder)
    
    ax.set_xlim(0, 94)
    ax.set_ylim(0, 50)
    ax.set_facecolor(court_color)
    ax.set_xticks([])
    ax.set_yticks([])
    ax.set_xlabel('')
    return ax


#fig, ax = plt.subplots(figsize=(15, 8.5))
#create_ncaa_full_court(ax, three_line='both', paint_alpha=0.4)
#plt.show()

In [4]:
def get_match(df_match: pd.DataFrame, match_name: str) -> pd.DataFrame:
    pass

In [5]:
def plot_player_shot(df_match: pd.DataFrame, player_name: str) -> None:
    pass

In [6]:
def create_match_id(team1: str, team2: str, date_match: int) -> str:
    pass

In [7]:
def create_match_id_col(df_match: pd.DataFrame) -> pd.DataFrame:
    pass

In [8]:
def plot_match_player_shot(df_match: pd.DataFrame, match_id: str, player_name: str) -> None:
    pass

## Création de la variable MatchID

Tables contenant le quadruplet : ["Season", "DayNum", "WTeamID", "LTeamID"]
    - MEvents
    - MConferenceTourneyGames
    - MGameCities
    - MNCAATourneyCompactResults
    - MNCAATourneyDetailedResults
    - MRegularSeasonCompactResults
    - MRegularSeasonDetailedResults
    - MSecondaryTourneyCompactResults

In [9]:
MEvents = data["MEvents"]
# Col = EventID,Season,DayNum,WTeamID,LTeamID,WFinalScore,LFinalScore,WCurrentScore,LCurrentScore,ElapsedSeconds,EventTeamID,EventPlayerID,EventType,EventSubType,X,Y,Area

MConferenceTourneyGames = data["MConferenceTourneyGames"]
# Col = Season,ConfAbbrev,DayNum,WTeamID,LTeamID

MGameCities = data["MGameCities"]
# Col = Season,DayNum,WTeamID,LTeamID,CRType,CityID

MNCAATourneyCompactResults = data["MNCAATourneyCompactResults"]
# Col = Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT

MRegularSeasonCompactResults = data["MRegularSeasonCompactResults"]
# Col = Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT

MNCAATourneyDetailedResults = data["MNCAATourneyDetailedResults"]
# Col = Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,WFGM3,WFGA3,WFTM,WFTA,WOR,WDR,WAst,WTO,WStl,WBlk,WPF,LFGM,LFGA,LFGM3,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF

MRegularSeasonDetailedResults = data["MRegularSeasonDetailedResults"]
# Col = Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,WFGM3,WFGA3,WFTM,WFTA,WOR,WDR,WAst,WTO,WStl,WBlk,WPF,LFGM,LFGA,LFGM3,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF

MSecondaryTourneyCompactResults = data["MSecondaryTourneyCompactResults"]
# Col = Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,SecondaryTourney


#df = MEvents.groupby(["Season", "DayNum", "WTeamID", "LTeamID"])

In [10]:
# On garde les 4 colonnes qui permettent de créer un MatchID unique et la saison 2015 pour réduire le df
# Variables utiles pour le groupby()
#df_2015 = df_2015[['Season', 'DayNum', 'WTeamID', 'LTeamID']]

# Variables utiles
df_2015 = MEvents[['Season', 'DayNum', 'WTeamID', 'LTeamID', 'EventPlayerID', 'EventType', 'X', 'Y']]

# Shots à 2 et 3 points râtés et réussis
df_2015_shots = df_2015[df_2015['EventType'].str.contains('miss2')| df_2015['EventType'].str.contains('made2')|
                  df_2015['EventType'].str.contains('made3') | df_2015['EventType'].str.contains('made3')]

# Sur une seule saison (2015)
df_2015_shots = df_2015_shots.loc[df_2015_shots['Season'] == 2015]
df_2015_shots.head()

    Season  DayNum  WTeamID  LTeamID  EventPlayerID EventType  X  Y
2     2015      11     1103     1420          13753     made2  0  0
4     2015      11     1103     1420             98     made2  0  0
8     2015      11     1103     1420            104     made2  0  0
9     2015      11     1103     1420          13753     made2  0  0
13    2015      11     1103     1420            125     miss2  0  0

In [11]:
# DataFrame avec MatchId unique --> 5497 matchs en 2015

df_id_unique = (df_2015_shots.groupby(['Season','DayNum', 'WTeamID', 'LTeamID']).size().reset_index().rename(columns={0:'count'}))
df_id_unique['MatchID'] = df_id_unique.index
df_id_unique = df_id_unique.drop(['count'], axis=1)
df_id_unique.head()

   Season  DayNum  WTeamID  LTeamID  MatchID
0    2015      11     1103     1420        0
1    2015      11     1104     1406        1
2    2015      11     1112     1291        2
3    2015      11     1113     1152        3
4    2015      11     1119     1102        4

In [12]:
# On applique le MatchID sur l'ensemble du dataframe

df_2015_id = pd.merge(df_2015_shots, df_id_unique,  how='left', 
                      left_on=['Season','DayNum', 'WTeamID', 'LTeamID'], 
                      right_on = ['Season','DayNum', 'WTeamID', 'LTeamID'])
df_2015_id

,Season,DayNum,WTeamID,LTeamID,EventPlayerID,EventType,X,Y,MatchID
0,2015,11,1103,1420,13753,made2,0,0,0
1,2015,11,1103,1420,98,made2,0,0,0
2,2015,11,1103,1420,104,made2,0,0,0
3,2015,11,1103,1420,13753,made2,0,0,0
4,2015,11,1103,1420,125,miss2,0,0,0
...,...,...,...,...,...,...,...,...,...
461031,2015,154,1181,1458,3279,made3,0,0,5496
461032,2015,154,1181,1458,15263,made3,0,0,5496
461033,2015,154,1181,1458,3279,miss2,0,0,5496
461034,2015,154,1181,1458,15256,made2,0,0,5496
461035,2015,154,1181,1458,15265,miss2,0,0,5496

## Récupération du nom des joueurs

In [13]:
# On utilise le df pour avoir le nom de chaque joueur en fonction de son ID pour le merge avec le df précédent
MPlayers = data["MPlayers"]
MPlayers = MPlayers[["PlayerID", "LastName", "FirstName"]]
MPlayers.head()

   PlayerID  LastName  FirstName
0         1  Albright  Christian
1         2   Cameron     Tobias
2         3      Cobb      Chase
3         4     Cooke     Austin
4         5     Crnic      Jovan

In [14]:
df_2015_id_player = pd.merge(df_2015_id, MPlayers,  how='left', left_on=['EventPlayerID'], 
                             right_on = ['PlayerID'])
df_2015_id_player

,Season,DayNum,WTeamID,LTeamID,EventPlayerID,EventType,X,Y,MatchID,PlayerID,LastName,FirstName
0,2015,11,1103,1420,13753,made2,0,0,0,13753.0,Joyce,Cody
1,2015,11,1103,1420,98,made2,0,0,0,98.0,Forsythe,Pat
2,2015,11,1103,1420,104,made2,0,0,0,104.0,Ibitayo,Deji
3,2015,11,1103,1420,13753,made2,0,0,0,13753.0,Joyce,Cody
4,2015,11,1103,1420,125,miss2,0,0,0,125.0,Treadwell,Demetrius
...,...,...,...,...,...,...,...,...,...,...,...,...
461031,2015,154,1181,1458,3279,made3,0,0,5496,3279.0,Jones,Tyus
461032,2015,154,1181,1458,15263,made3,0,0,5496,15263.0,Kaminsky,Frank
461033,2015,154,1181,1458,3279,miss2,0,0,5496,3279.0,Jones,Tyus
461034,2015,154,1181,1458,15256,made2,0,0,5496,15256.0,Hayes,Nigel
461035,2015,154,1181,1458,15265,miss2,0,0,5496,15265.0,Koenig,Bronson

In [15]:
df_2015_id_player['FullName'] = df_2015_id_player['FirstName'] + " " + df_2015_id_player['LastName']
df_2015_id_player.drop(['PlayerID', 'LastName', 'FirstName'], axis=1)

,Season,DayNum,WTeamID,LTeamID,EventPlayerID,EventType,X,Y,MatchID,FullName
0,2015,11,1103,1420,13753,made2,0,0,0,Cody Joyce
1,2015,11,1103,1420,98,made2,0,0,0,Pat Forsythe
2,2015,11,1103,1420,104,made2,0,0,0,Deji Ibitayo
3,2015,11,1103,1420,13753,made2,0,0,0,Cody Joyce
4,2015,11,1103,1420,125,miss2,0,0,0,Demetrius Treadwell
...,...,...,...,...,...,...,...,...,...,...
461031,2015,154,1181,1458,3279,made3,0,0,5496,Tyus Jones
461032,2015,154,1181,1458,15263,made3,0,0,5496,Frank Kaminsky
461033,2015,154,1181,1458,3279,miss2,0,0,5496,Tyus Jones
461034,2015,154,1181,1458,15256,made2,0,0,5496,Nigel Hayes
461035,2015,154,1181,1458,15265,miss2,0,0,5496,Bronson Koenig

## Créer une fonction qui récupère les matchs joués par un joueur à partir de son nom

In [16]:
df = df_2015_id_player.query('FullName=="Cody Joyce"')
df_col_player = df[['EventType','X', 'Y', 'FullName', 'MatchID']]
df_col_player

       EventType  X  Y    FullName  MatchID
0          made2  0  0  Cody Joyce        0
3          made2  0  0  Cody Joyce        0
15         miss2  0  0  Cody Joyce        0
28         made2  0  0  Cody Joyce        0
30         made2  0  0  Cody Joyce        0
...          ... .. ..         ...      ...
413799     miss2  0  0  Cody Joyce     4941
413800     miss2  0  0  Cody Joyce     4941
413806     miss2  0  0  Cody Joyce     4941
413818     miss2  0  0  Cody Joyce     4941
413827     made2  0  0  Cody Joyce     4941

[293 rows x 5 columns]

In [17]:
list_of_games = df_2015_id_player.query('FullName=="Cody Joyce"').get('MatchID')
print("***** All rows with the MatchID column with the selected player : *****")
print(list_of_games)

unique_games_id = set(list_of_games)
print(" ")
print("***** Unique MatchID : *****")
print(unique_games_id)

***** All rows with the MatchID column with the selected player : *****
0            0
3            0
15           0
28           0
30           0
          ...
413799    4941
413800    4941
413806    4941
413818    4941
413827    4941
Name: MatchID, Length: 293, dtype: int64

***** Unique MatchID : *****
{0, 2048, 4484, 4229, 1422, 2844, 296, 447, 3263, 967, 1864, 2887, 3786, 3659, 4167, 4941, 2645, 3033, 858, 4569, 4698, 1120, 616, 2536, 3947, 1266, 3187, 1653, 2296}

In [18]:
# Create a function that select all the rows corresponding to a certain player in a dataframe

def get_games_of_a_player(name: str): #-> pd.DataFrame:
    list_of_games = df_2015_id_player.query('FullName=="name"').get('MatchID')
    return(unique_games_id)

get_games_of_a_player('Cody Joyce')

{0,
 296,
 447,
 616,
 858,
 967,
 1120,
 1266,
 1422,
 1653,
 1864,
 2048,
 2296,
 2536,
 2645,
 2844,
 2887,
 3033,
 3187,
 3263,
 3659,
 3786,
 3947,
 4167,
 4229,
 4484,
 4569,
 4698,
 4941}

## Créer une fonction qui récupère les joueurs ayant participé à un certain match

In [19]:
df2 = df_2015_id_player.query('MatchID=="1234"')
df_col_match = df2[['EventType', 'X', 'Y', 'MatchID', 'FullName']]
df_col_match

       EventType  X  Y  MatchID         FullName
104027     miss2  0  0     1234    Ricky Johnson
104028     made2  0  0     1234  Edward Stephens
104029     made2  0  0     1234    Darryl Palmer
104030     miss2  0  0     1234      Mikel Trapp
104031     made2  0  0     1234   Quintin Brewer
...          ... .. ..      ...              ...
104109     made3  0  0     1234    Clemmye Owens
104110     miss2  0  0     1234  Tyvoris Soloman
104111     made2  0  0     1234    Ricky Johnson
104112     made3  0  0     1234  Edward Stephens
104113     made2  0  0     1234      Tony Kynard

[87 rows x 5 columns]

In [20]:
list_of_players = df_2015_id_player.query('MatchID=="1234"').get('FullName')
print("********** All rows with the Name of the player participaating to the selected game : **********")
print(list_of_players)


unique_players = set(list_of_players)
print(" ")
print("********** Unique FullName : **********")
print(unique_players)

********** All rows with the Name of the player participaating to the selected game : **********
104027      Ricky Johnson
104028    Edward Stephens
104029      Darryl Palmer
104030        Mikel Trapp
104031     Quintin Brewer
               ...
104109      Clemmye Owens
104110    Tyvoris Soloman
104111      Ricky Johnson
104112    Edward Stephens
104113        Tony Kynard
Name: FullName, Length: 87, dtype: object

********** Unique FullName : **********
{'Edward Stephens', 'Greg Mortimer', 'Darryl Palmer', 'Clemmye Owens', 'Delino Dear', 'Ricky Johnson', 'Jalen White', 'Mikel Trapp', 'Kenshay Kirksey', 'Tyvoris Soloman', 'Maurice Taylor', 'Gerdarius Troutman', 'Ugo Okam', 'Tashombe Riley', 'Gabe McCray', 'Tony Kynard', 'Quintin Brewer'}

In [21]:
def get_players_of_a_game(matchID: int): #-> pd.DataFrame:
    list_of_players = df_2015_id_player.query('MatchID=="1234"').get('FullName')
    unique_players = set(list_of_players)
    return(unique_players)

get_players_of_a_game(1234)

{'Clemmye Owens',
 'Darryl Palmer',
 'Delino Dear',
 'Edward Stephens',
 'Gabe McCray',
 'Gerdarius Troutman',
 'Greg Mortimer',
 'Jalen White',
 'Kenshay Kirksey',
 'Maurice Taylor',
 'Mikel Trapp',
 'Quintin Brewer',
 'Ricky Johnson',
 'Tashombe Riley',
 'Tony Kynard',
 'Tyvoris Soloman',
 'Ugo Okam'}

## Créer une fonction qui plot les tirs de chaque joueur

ms = 10 # Marker Size
FirstName = 'Zion'
LastName = 'Williamson'
fig, ax = plt.subplots(figsize=(15, 8))
ax = create_ncaa_full_court(ax)
MEvents.query('FirstName == @FirstName and LastName == @LastName and EventType == "made2"') \
    .plot(x='X', y='Y', style='o',
          title='Shots (Zion Williamson)',
          alpha=0.5,
         figsize=(15, 8),
         label='Made 2',
         ms=ms,
         ax=ax)
plt.legend()

ax.set_xlabel('')
plt.legend()
plt.show()

ms = 10 # Marker Size
FirstName = 'Zion'
LastName = 'Williamson'
fig, ax = plt.subplots(figsize=(15, 8))
ax = create_ncaa_full_court(ax)
MEvents.query('FirstName == @FirstName and LastName == @LastName and EventType == "made2"') \
    .plot(x='X', y='Y', style='o',
          title='Shots (Zion Williamson)',
          alpha=0.5,
         figsize=(15, 8),
         label='Made 2',
         ms=ms,
         ax=ax)
plt.legend()

ax.set_xlabel('')
plt.legend()
plt.show()